.User--info{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.forgot__password{
    color: blueviolet;
}

.Info__pic{
    height : 15rem;
    width: 15rem;
}
.proceed__buttons{
    margin-top: 0.2rem;
    border: none;
    padding: 0.5rem;
    background-color: rgba(69, 9, 166, 0.788);
    color: white;
    font-weight: 600;
}

@media only screen and (max-width:600px) {
    .Info__pic{
        height : 10rem;
        width:10rem
    }
    .forgot__password{
        font-size: .75rem;
    }
}