.vault__contents{
    font-size: 1.123rem;
    border: 0.25rem solid black;
    width:30vw;
    padding: 1rem;
}

.vault__contents--edit-icons{
    float: right;
}

.vault__contents--edit-icons span:hover {
    cursor: pointer;
}

.trash{
    padding: .15rem;
    color: red;
}
.trash:hover{
    cursor: pointer;
}

.edit{
    padding: .15rem;
    color: rgb(14, 185, 14);
}
.edit:hover{
    cursor: pointer;
}

.plus{
    background-color: black;
    padding: .5rem 0.5rem 0.2rem 0.5rem;
    color: white;
    font-size: 1rem;
    border: 1px solid black;
    float: right;
}

.plus:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.toggle{
    background-color: transparent;
    border: none;
}
.toggle:hover{
    cursor: pointer;
}
.reye {
  cursor: pointer;
}

@media only screen and (max-width:800px){
    .vault__contents {
        width: 40vw;
        margin: .5rem;
    }  
}

@media only screen and (max-width:600px){
    .vault__contents {
        width: 80vw;
        margin: .5rem;
    }  
}
