*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form__container {
    background-color: white;
    z-index: 1000;
}
.close {
    float: right;
}
.close:hover {
    cursor: pointer;
}